api = "0.6"

[buildpack]
  description = "A buildpack for running the `dotnet execute` command for an app"
  homepage = "https://github.com/paketo-buildpacks/dotnet-execute"
  id = "paketo-buildpacks/dotnet-execute"
  keywords = ["dotnet"]
  name = "Paketo .NET Execute Buildpack"
  version = "{{ .Version }}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/dotnet-execute/blob/main/LICENSE"

[metadata]
  include-files = ["bin/build", "bin/detect", "bin/run", "buildpack.toml"]
  pre-package = "./scripts/build.sh"

[[stacks]]
  id = "org.cloudfoundry.stacks.cflinuxfs3"

[[stacks]]
  id = "io.buildpacks.stacks.bionic"
